.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.table {
  width: 90vw;
  text-align: left;
}
.search-input {
  width: 90vw;
  height: 6vh;
  margin: 10px;
}
.delete-icon {
  color: red;
  margin-left: 10px;
}
.delete-icon:hover {
  cursor: pointer;
}
